h1 {
    text-align: center;
}

.oculto {
    display: none;
}

#tabla {
    margin: 3%;
}

summary:hover {
    cursor: pointer;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, td, th {
    border: 1px solid black;
}

tr:hover {
    background-color: cadetblue;
}

button:hover {
    cursor: pointer;
}

nav {
    border: 1px solid black;
    background-color: honeydew;
    
}

nav span:hover {
    border: 1px solid black;
}

.cajita {
    border-radius: 10;
    background-color: darkgray;
    border: 1px solid black;
}

.cajita:hover {
    background-color: black;
}