<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', path='icono.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', path='index.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Inventarios</title>
</head>
<body class="m-5">
    <nav class="rounded-md p-2">
        <span class="hover:underline bg-emerald-100"><a href="/">Inicio</a></span>
        <span class="hover:underline bg-emerald-100"><a href="/abc">Clasificación ABC</a></span>
        <!-- <span class="hover:underline bg-emerald-100">¿Cuándo y cuánto ordenar?</span> -->
        <details>
            <summary><span class="hover:underline bg-emerald-100 hover:cursor-pointer">¿Cuándo y cuánto ordenar?</span></summary>
            <div>
                <span class="hover:underline bg-emerald-100"><a href="/lote">Lote económico</a></span>
                <span class="hover:underline bg-emerald-100"><a href="/descuento">Descuento</a></span>
                <span class="hover:underline bg-emerald-100"><a href="/probabilidades">Probabilístico</a></span>
                <span></span>
            </div>
        </details>
        <span class="hover:underline bg-emerald-100"><a href="/colas">Modelo de colas</a></span>
        <span class="hover:underline bg-emerald-100"><a href="/fluctuaciones">Caso especial ✨</a></span>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>