{% extends 'base.html' %}
{% block content %}
<h1 class="text-5xl">Bienvenido a la Sección de Descuentos</h1>
<p>En esta aplicación podrás conocer muchas cosas sobre lo que tienes que pagar</p>
<form action="/descuento" method="post" enctype="multipart/form-data">
    <fieldset class="border rounded-md p-3 bg-emerald-100">
        <legend>Cuándo y cuánto comprar con modelo de descuento</legend>
        <label for="producto">Costo por producto: </label>
        <input class="border rounded-md ps-1" type="number" name="producto" id="producto" required><br><br>
        <label for="demanda">Demanda mensual: </label>
        <input class="border rounded-md ps-1" type="number" name="demanda" id="demanda" required><br><br>
        <div>
            <input class="hover:cursor-pointer" type="radio" name="visiones" id="primero" value="primero">
            <label class="hover:cursor-pointer" for="primero">Usando archivo .csv</label>
            <input class="hover:cursor-pointer" type="radio" name="visiones" id="segundo" value="segundo">
            <label class="hover:cursor-pointer" for="segundo">Escribiendo manualemente</label>
        </div>
        <div id="completo">
            <label for="archivo">Archivo csv de los datos: </label> <br>
            <small>
                Tiene que estar dividido por: <br>
                rangos de unidades con el menor al principio y el mayor al final, por ejemplo 1-10 <br>
                los descuentos (pueden o no contener el símbolo "%") <br>
                Los costos de almacenamiento (pueden o no contener el símbolo "$") <br>
                Los costos de preparación del pedido (pueden o no contener el símbolo "$") <br>
            </small> <br>
            <input class="hover:cursor-pointer hover:bg-teal-500 border rounded-md border-dashed p-1" type="file" name="archivo" id="archivo" accept="text/csv" required>
        </div>
        <div id="dividido">
            <table id="info">
                <tr id="titulo">
                    <th>Unidades</th>
                    <th>Descuentos</th>
                    <th>Costo de almacenamiento</th>
                    <th>Costo de preparación</th>
                    <th></th>
                </tr>
            </table>
            <button onclick="agregar();" type="button">➕</button>
        </div>
        <br>
        <button class="border rounded-md p-1 bg-teal-500 hover:cursor-pointer" type="submit">Obtener respuesta</button>
    </fieldset>
</form>
<template>
    <tr>
        <td><input class="ps-1" type="text" name="" id="" pattern="^\d+\s*-\s*\d+$" 
            title="Los números deben ser rangos, por ejemplo: 23 - 40" required></td>
        <td><input class="ps-1" type="number" name="" id="" min="0" step="0.01" required></td>
        <td><input class="ps-1" type="number" name="" id="" min="0" step="0.01" required></td>
        <td><input class="ps-1" type="number" name="" id="" min="0" step="0.01" required></td>
        <td><button type="button">❌</button></td>
    </tr>
</template>
{% block respuesta %}{% endblock %}
{% endblock %}