{% extends 'base.html' %}
{% block content %}
<h1 class="text-center text-6xl">Bienvenido al gran inventario</h1>
<p>En esta aplicación podrás hacer muchas cosas para tus inventarios</p>
<p>Por ejemplo......</p>
<ul>
    <li>Clasificar tus productos con la clasificación ABC</li>
    <li>Utilizar modelos de descuentos, lote económico</li>
    <li>Obtener los cuántos y cuándos de compra de los productos</li>
    <li>Obtener los diagramas de los modelos de descuentos, lotes económicos y clasificación ABC</li>
</ul>
<h3>Ejemplos de empresas y organizaciones que hemos ayudado</h3>
<details>
    <summary class="cursor-pointer">La Espiga Dorada CA</summary>
    <p></p>
</details>
<br>
<details>
    <summary class="animate-pulse cursor-pointer">Tienda de discos Shakira</summary>
    <p>
    </p>
</details>
<br>
<details>
    <summary class="text-indigo-100 animate-bounce cursor-pointer">Gran compañía mensual</summary>
    <p>MUCHO TEXTO</p>
</details>
<br>
<details>
    <summary class="cursor-pointer">El departamente de hospitales</summary>
    <p></p>
</details>
{% endblock %}